{% extends "menu.html" %}
{% block contenido %} <h1>Equipos</h1>
    <a href="{% url 'crear_equipo' %}">Crear nuevo equipo</a>
    <table>
        <thead>
        <th> Buscar un equipo</th>
        </thead>
        <tbody>
        <tr>
            <form method="post" action="{% url 'buscar_equipo' %}">
                {% csrf_token %}
                {% for element in buscar_equipo %}
                    <td>{{ element.label_tag }}</td>
                    <td>{{ element }}</td>
                {% endfor %}
                <button type="submit" class="btn-primary">Resultados</button>
            </form>
        </tr>
        </tbody>
    </table>
    <table class="table table-dark table-striped table-bordered table-hover">
        <thead>
        <th> Fecha</th>
        <th> Nombre de Equipo</th>
        <th> Alterar</th>
        <th> Borrar</th>
        </thead>
        <tbody>
        {% for equipo in lista_equipos %}
            <tr>
                <td> {{ equipo.fecha_creacion | date }}</td>
                <td> {{ equipo.nombreequipo }}</td>
                <td><a href="{% url 'modificar_equipo' equipo.id %}"> Alterar </a></td>
                <td><a href="{% url 'eliminar_equipo' equipo.id %}"> Borrar </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}